
#mapContainer{
    width:60vw;
    /* height:10%; */
    margin-left: 30px;
    text-align: center;
    /* border: 2px black solid; */
    float: left;
    position:relative; 
    /* background-color: rgb(98, 0, 255); */
    border: 10px solid white;
    border-radius: 20px;
}
#indiaImg{
    width:100%;
    height:100%;
    /* height:650px; */
    position:absolute;
    z-index:-1;  
    top:0px;
    left:0px;
    margin-left: 0;
    /* background-color: rgb(98, 0, 255); */
}

#infoContainer{
    width:40vw;
    margin-left:20px;
    float:left;
    position:relative;
    text-align: center;
    margin-right: 20px;
    padding-bottom: 20px;
    border:2px solid black ;
    background-color: #63D2FF;
    border-radius: 20px;
    
}
#mainContainer {
    width:70vw;
    /* border: 3px solid red; */
    margin: auto; 
    justify-content: center;
    display: flex;
    position:relative;
    /* background-color: #2081C3  */
}
#heading, #main_heading{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Roboto Serif", serif;
}

#myCanvas{
    /* background-color: blueviolet; */
    width: 100%;
    height: 90%;
    top:0px;
    left:0px;
    position:absolute;
}

.states_squares{
    cursor: pointer;
    width :1.2px;
    height:1.2px;
    fill: brown;
}
.ut_circles{
    cursor:pointer;
    fill : blue;
    
}
.textStyle{
    font-family: Verdana;
    font-size:0.15em;
    fill:blue;
}
#infotext{
  
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size : 20px
   
  }
#heading{
    font-family: "Roboto Serif", serif;
    font-weight:800;
    font-size: large;
    font-style: italic;
    color: #042A2B;
    
}
body{
    background-color: #78D5D7;
}
#symbolContainer{
    /* margin-top: 20px; */
    /* background-color: #8763ff; */
    width:330px;
    height:190px;
    border-radius: 20px;
    display: flex;
    margin: auto;
    align-content: center;
    
}

#symbolPic {
    width:320px;
    height : 180px;
    font-display: flex;
    margin:auto;
    
    } 
